* {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-family: 'Bebas Neue';
  text-align: justify;
  text-transform: capitalize; }

body {
  background-color: black; }

ul {
  height: 50px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-color: #eaee1f;
  list-style-type: none; }

footer {
  height: 200%;
  color: white;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Bebas Neue';
  text-align: left;
  text-transform: capitalize;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 5px;
  background-color: #9530b4; }

.navFlex {
  background-color: #eaee1f;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: right; }

.footerFlex {
  padding: 0;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: left; }
  .footerFlex .footerFlex__redesSocialesYNewsletter {
    color: black; }

li:hover {
  color: #9530b4; }

/*extra small devices*/
@media only screen and (max-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 60px 170px 590px;
    grid-template-areas: "header" "nav" "tituloYSubtitulo" "datos"; }
  .menu {
    grid-area: nav; }
  .h1 {
    grid-area: tituloYSubtitulo;
    justify-self: center;
    align-self: center; }
    .h1 .h1__encabezado {
      color: #eaee1f;
      font-size: 35px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 2;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
    .h1 .h1__subtitulo {
      color: white;
      font-size: 29px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 1;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
  .datos {
    grid-area: datos;
    justify-self: center;
    align-self: center; }
    .datos .datos__item {
      color: #9530b4;
      font-size: 27px; }
    .datos .datos__mensaje {
      color: white;
      font-size: 17px; }
  .ofertas {
    justify-self: center;
    align-self: center; }
    .ofertas .ofertas__mensaje {
      color: white;
      font-size: 20px; }
  .botones {
    display: flex;
    flex-direction: center;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .header {
    grid-area: header;
    background-image: linear-gradient(to left, black, #eaee1f, black);
    justify-self: center;
    height: 110px; }
    .header .header__banner {
      color: #9530b4;
      font-style: italic;
      font-weight: bolder;
      font-size: 70px;
      font-family: 'Bebas Neue'; }
  li {
    color: black;
    font-style: normal;
    font-weight: unset;
    font-size: 15px;
    text-align: right;
    text-transform: none;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    list-style-position: inside;
    background-color: #eaee1f;
    padding: 15px; }
  footer {
    color: white;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    text-transform: capitalize;
    line-height: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 10px;
    background-color: #9530b4; } }

/*tablets*/
@media only screen and (min-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 60px 170px 590px;
    grid-template-areas: "header" "nav" "tituloYSubtitulo" "datos"; }
  .menu {
    grid-area: nav; }
  .h1 {
    grid-area: tituloYSubtitulo;
    justify-self: center;
    align-self: center; }
    .h1 .h1__encabezado {
      color: #eaee1f;
      font-size: 35px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 2;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
    .h1 .h1__subtitulo {
      color: white;
      font-size: 29px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 1;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
  .datos {
    grid-area: datos;
    justify-self: center;
    align-self: center; }
    .datos .datos__item {
      color: #9530b4;
      font-size: 27px; }
    .datos .datos__mensaje {
      color: white;
      font-size: 19px; }
  .ofertas {
    justify-self: center;
    align-self: center; }
    .ofertas .ofertas__mensaje {
      color: white;
      font-size: 20px; }
  .botones {
    display: flex;
    flex-direction: center;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .header {
    grid-area: header;
    background-image: linear-gradient(to left, black, #eaee1f, black);
    justify-self: center;
    height: 110px; }
    .header .header__banner {
      color: #9530b4;
      font-style: italic;
      font-weight: bolder;
      font-size: 80px;
      font-family: 'Bebas Neue'; }
  li {
    color: black;
    font-style: normal;
    font-weight: unset;
    font-size: 18px;
    text-align: right;
    text-transform: none;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    list-style-position: inside;
    background-color: #eaee1f;
    padding: 15px; }
  footer {
    color: white;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    text-transform: capitalize;
    line-height: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 10px;
    background-color: #9530b4; } }

/*tablets landscape*/
@media only screen and (min-width: 768px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 60px 170px 590px;
    grid-template-areas: "header" "nav" "tituloYSubtitulo" "datos"; }
  .menu {
    grid-area: nav; }
  .h1 {
    grid-area: tituloYSubtitulo;
    justify-self: center;
    align-self: center; }
    .h1 .h1__encabezado {
      color: #eaee1f;
      font-size: 38px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 2;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
    .h1 .h1__subtitulo {
      color: white;
      font-size: 31px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 1;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
  .datos {
    grid-area: datos;
    justify-self: center;
    align-self: center; }
    .datos .datos__item {
      color: #9530b4;
      font-size: 29px; }
    .datos .datos__mensaje {
      color: white;
      font-size: 19px; }
  .ofertas {
    justify-self: center;
    align-self: center; }
    .ofertas .ofertas__mensaje {
      color: white;
      font-size: 20px; }
  .botones {
    display: flex;
    flex-direction: center;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .header {
    grid-area: header;
    background-image: linear-gradient(to left, black, #eaee1f, black);
    justify-self: center;
    height: 110px; }
    .header .header__banner {
      color: #9530b4;
      font-style: italic;
      font-weight: bolder;
      font-size: 90px;
      font-family: 'Bebas Neue'; }
  li {
    color: black;
    font-style: normal;
    font-weight: unset;
    font-size: 25px;
    text-align: right;
    text-transform: none;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    list-style-position: inside;
    background-color: #eaee1f;
    padding: 15px; } }

/*laptops-escritorios*/
@media only screen and (min-width: 992px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 60px 170px 630px;
    grid-template-areas: "header" "nav" "tituloYSubtitulo" "datos"; }
  .menu {
    grid-area: nav; }
  .h1 {
    grid-area: tituloYSubtitulo;
    justify-self: center;
    align-self: center; }
    .h1 .h1__encabezado {
      color: #eaee1f;
      font-size: 42px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 2;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
    .h1 .h1__subtitulo {
      color: white;
      font-size: 35px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 1;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
  .datos {
    grid-area: datos;
    justify-self: center;
    align-self: center; }
    .datos .datos__item {
      color: #9530b4;
      font-size: 32px; }
    .datos .datos__mensaje {
      color: white;
      font-size: 22px; }
  .ofertas {
    justify-self: center;
    align-self: center; }
    .ofertas .ofertas__mensaje {
      color: white;
      font-size: 22px; }
  .botones {
    display: flex;
    flex-direction: center;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .header {
    grid-area: header;
    background-image: linear-gradient(to left, black, #eaee1f, black);
    justify-self: center;
    height: 110px; }
    .header .header__banner {
      color: #9530b4;
      font-style: italic;
      font-weight: bolder;
      font-size: 100px;
      font-family: 'Bebas Neue'; }
  li {
    color: black;
    font-style: normal;
    font-weight: unset;
    font-size: 25px;
    text-align: right;
    text-transform: none;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    list-style-position: inside;
    background-color: #eaee1f;
    padding: 15px; } }

/*dispositivos panoramicos/extra grandes*/
@media only screen and (min-width: 1200px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 60px 170px 630px;
    grid-template-areas: "header" "nav" "tituloYSubtitulo" "datos"; }
  .menu {
    grid-area: nav; }
  .h1 {
    grid-area: tituloYSubtitulo;
    justify-self: center;
    align-self: center; }
    .h1 .h1__encabezado {
      color: #eaee1f;
      font-size: 42px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 2;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
    .h1 .h1__subtitulo {
      color: white;
      font-size: 35px;
      text-align: justify;
      text-transform: capitalize;
      line-height: 1;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 5px; }
  .datos {
    grid-area: datos;
    justify-self: center;
    align-self: center; }
    .datos .datos__item {
      color: #9530b4;
      font-size: 32px; }
    .datos .datos__mensaje {
      color: white;
      font-size: 22px; }
  .ofertas {
    justify-self: center;
    align-self: center; }
    .ofertas .ofertas__mensaje {
      color: white;
      font-size: 22px; }
  .botones {
    display: flex;
    flex-direction: center;
    justify-self: center;
    align-self: center;
    font-size: 15px; }
  .header {
    grid-area: header;
    background-image: linear-gradient(to left, black, #eaee1f, black);
    justify-self: center;
    height: 110px; }
    .header .header__banner {
      color: #9530b4;
      font-style: italic;
      font-weight: bolder;
      font-size: 100px;
      font-family: 'Bebas Neue'; }
  li {
    color: black;
    font-style: normal;
    font-weight: unset;
    font-size: 25px;
    text-align: right;
    text-transform: none;
    line-height: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    list-style-position: inside;
    background-color: #eaee1f;
    padding: 15px; } }
